Repository doe300/VC4C, pull requests merged in 2018-04, with the labels that each got.

#78 Split optimization and normalization
  include/CompilationError.h
  src/BackgroundWorker.cpp
  src/BackgroundWorker.h
  src/CMakeLists.txt
  src/CompilationError.cpp
  src/Compiler.cpp
  src/Method.cpp
  src/Profiler.h
  src/Values.cpp
  src/Values.h
  src/asm/CodeGenerator.cpp
  src/asm/GraphColoring.cpp
  src/intermediate/Branching.cpp
  src/intermediate/IntermediateInstruction.h
  src/intermediate/LoadImmediate.cpp
  src/intermediate/MemoryInstruction.cpp
  src/intermediate/MethodCall.cpp
  src/intermediate/Operations.cpp
  src/intermediate/Synchronization.cpp
  src/normalization/Inliner.cpp
  src/normalization/Inliner.h
  src/normalization/LiteralValues.cpp
  src/normalization/LiteralValues.h
  src/normalization/MemoryAccess.cpp
  src/normalization/MemoryAccess.h
  src/normalization/Normalizer.cpp
  src/normalization/Normalizer.h
  src/normalization/sources.list
  src/optimization/Combiner.cpp
  src/optimization/ControlFlow.cpp
  src/optimization/Eliminator.cpp
  src/optimization/Optimizer.cpp
  src/optimization/Optimizer.h
  src/optimization/sources.list
  src/periphery/VPM.cpp
  src/sources.list
  test/CMakeLists.txt
Labels: enhancement, normalization, optimization

#88 Support armv6
  .circleci/config.yml
  CMakeLists.txt
  cmake/RaspberryPi.cmake
  src/CMakeLists.txt
  test/CMakeLists.txt
  tools/CMakeLists.txt
Labels: bug, ready for review

#83 Rewrite optimization management (see #75)
  include/config.h
  include/tools.h
  src/BasicBlock.h
  src/Method.h
  src/asm/CodeGenerator.cpp
  src/main.cpp
  src/normalization/LiteralValues.cpp
  src/optimization/Combiner.cpp
  src/optimization/ControlFlow.cpp
  src/optimization/Optimizer.cpp
  src/optimization/Optimizer.h
  src/optimization/Reordering.cpp
  src/tools/options.cpp
  src/tools/sources.list
  test/RegressionTest.cpp
  test/RegressionTest.h
  test/test.cpp
Labels: enhancement, optimization
